doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700', )
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://unpkg.com/material-components-web@0.38.0/dist/material-components-web.min.css')
    script(src="https://cdn.jsdelivr.net/npm/material-components-web@0.38.0/index.min.js")
    script(src="/javascripts/default.js")
  body
    block content
